{% extends 'base.html' %}
{% load static %}
{% block title %} Notes {% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="clearfix">
                <div class="btn-group pull-right">
                    <a href="#" data-url="{% url 'add_note' %}" class="btn btn-primary js-create-note"><i class="fa fa-plus"></i> New note</a>
                    <a href="#" data-url="{% url 'delete_selected' %}" class="btn btn-danger js-delete-selected"><i class="fa fa-trash"></i> Delete selection</a>
                </div>
            </div>
            <hr>
            {% include 'messages.html' %}
            <div class="panel-group" id="accordion">
                {% for note in notes %}
                    <div class="panel panel-{{ note.status }}">
                        <input class="pull-right selected-note" type="checkbox" value="{{ note.id }}" title="">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#{{ note.id }}" style="cursor: pointer">
                            <h4 class="panel-title"><b>{{ note.title }}</b></h4>
                            <h5><i>{{ note.add_date|date:'d.m.Y / H:i' }}</i></h5>
                        </div>
                        <div id="{{ note.id }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="pull-right btn-group">
                                    <a href="#" data-url="{% url 'edit_note' note.id %}" class="btn btn-warning js-update-note"><i class="fa fa-pencil"></i> Edit</a>
                                    <a href="{% url 'delete_note' note.id %}" class="btn btn-danger"><i class="fa fa-times"></i> Delete</a>
                                </div>
                                {% if note.content == '' %}
                                    No description...
                                {% else %}
                                    {{ note.content }}
                                {% endif %}
                            </div>
                            {% if note.edit_date is not None %}
                                <div class="panel-footer">
                                    <i>Last edit: {{ note.edit_date|date:'d.m.Y / H:i' }}</i>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {%  if notes.has_other_pages %}
                    <ul class="pagination">
                        {% if notes.has_previous %}
                            <li><a href="?page={{ notes.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in notes.paginator.page_range %}
                            {% if notes.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {%  if notes.has_next %}
                            <li><a href="?page={{ notes.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-note">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static "js/note-modal.js" %}"></script>
    <script>
        $(function () {
            var deleteNotes = function () {
                var notes = [];
                $(".selected-note:checked").each(function () {
                    notes.push(parseInt($(this).val()));
                });
                $.ajax({
                    url: $(this).attr("data-url"),
                    type: 'get',
                    data: {'notes': notes},
                    success: function () {
                        location.reload();
                    }
                })
            };

            $(".js-delete-selected").on("click", deleteNotes);
        });
    </script>
{% endblock %}
