{% load crispy_forms_tags %}

<form method="post" action="{% url 'add_note' %}" class="js-note-create-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create a new note</h4>
    </div>
    <div class="modal-body">
        {% crispy form %}
    </div>
</form>