{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Login {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block content %}
    <div class="login-block">
        <div class="logo"></div>
        <h1>Login</h1>
        {% crispy form %}
    </div>
{% endblock %}