body {
    background: url('../img/login-background.jpg') no-repeat fixed center center;
    background-size: cover;
}

.logo {
    width: 270px;
    height: 90px;
    background: url('../img/logo.jpg') no-repeat;
    background-size: contain;
    margin: 20px auto;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 100px auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#id_username {
    background: #fff url('../img/login-user.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#id_username:focus {
    background: #fff url('../img/login-user.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#id_password {
    background: #fff url('../img/login-password.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#id_password:focus {
    background: #fff url('../img/login-password.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block input#submit-id-submit {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    padding: 0px;
}

.login-block input#submit-id-submit:hover {
    background: #ff7b81;
}
