{% extends 'base.html' %}
{% load static %}
{% block title %} Files {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/dropzone.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.fancybox.css" %}">
    <link rel="stylesheet" href="{% static "css/default.min.css" %}">
{% endblock %}

{% block additional_button %}
    {% if count > 0 %}
        <li><a href="#" data-url="{% url 'trashlist' %}" class="trash-list">Trash  <span class="badge">{{ count }}</span></a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="modal fade" id="modal-trash">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form action="{% url 'upload' %}" id="myDropzone" class="dropzone">
                    {% csrf_token %}
                </form>
                {% include 'messages.html' %}
                {% for file in files %}
                    <hr>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ file.name }}
                            <a href="{% url 'removefile' file.id %}" class="btn btn-danger btn-sm pull-right">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <i>{{ file.upload_date|date:'d.m.Y / H:i' }}</i>
                            <div class="btn-group pull-right">
                                {% if file.file_type in doc %}
                                    <a href="{{ '/files/media/' }}{{ file.file }}" class="btn btn-success col-xs-6" download>
                                        <i class="fa fa-download"></i> Download
                                    </a>
                                    <a data-fancybox data-type="iframe" data-src="https://view.officeapps.live.com/op/embed.aspx?src=https://ratshare.localtunnel.me{{'/files/media/' }}{{ file.file }}" href="javascript:;" class="btn btn-primary col-xs-6 view">
                                        <i class="fa fa-eye"></i> Preview
                                    </a>
                                {% elif file.file_type in audio %}
                                    <audio controls>
                                        <source src="{{'/files/media/' }}{{ file.file }}">
                                    </audio>
                                {% elif file.file_type in images %}
                                    <a href="{{'/files/media/' }}{{ file.file }}" class="btn btn-success col-xs-6" download>
                                        <i class="fa fa-download"></i> Download
                                    </a>
                                    <a href="{{'/files/media/' }}{{ file.file }}" data-fancybox class="btn btn-primary col-xs-6 view">
                                        <i class="fa fa-eye"></i> Preview
                                    </a>
                                {% elif file.file_type in source_code %}
                                    <a href="{{'/files/media/' }}{{ file.file }}" class="btn btn-success col-xs-6" download>
                                        <i class="fa fa-download"></i> Download
                                    </a>
                                    <a href="javascript:;" data-fancybox data-src="#hidden-content{{ forloop.counter }}" class="btn btn-primary col-xs-6 view">
                                        <i class="fa fa-eye"></i> Preview
                                        <div style="display: none;" id="hidden-content{{ forloop.counter }}">
                                            <pre><code>{{ file.source_code }}</code></pre>
                                        </div>
                                    </a>
                                {% elif file.file_type == 'pdf' %}
                                    <a href="{{'/files/media/' }}{{ file.file }}" class="btn btn-success col-xs-6" download>
                                        <i class="fa fa-download"></i> Download
                                    </a>
                                    <a href="{{'/files/media/' }}{{ file.file }}" data-fancybox class="btn btn-primary col-xs-6 view">
                                        <i class="fa fa-eye"></i> Preview
                                    </a>
                                {% else %}
                                    <a href="{{'/files/media/' }}{{ file.file }}" class="btn btn-success" download>
                                        <i class="fa fa-download"></i> Download
                                    </a>
                                {% endif %}
                                {#                              <iframe src="about:blank" data-src='https://view.officeapps.live.com/op/embed.aspx?src=https://wfudqlcftw.localtunnel.me{{'/media/' }}{{ file.file }}' width='1366px' height='623px' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if files.has_other_pages %}
                    <ul class="pagination">
                        {% if files.has_previous %}
                            <li><a href="?page={{ files.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in files.paginator.page_range %}
                            {% if files.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if files.has_next %}
                            <li><a href="?page={{ files.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static "js/jquery.fancybox.min.js" %}"></script>
    <script src="{% static "js/dropzone.js" %}"></script>
    <script>
        Dropzone.options.myDropzone = {
            init: function () {
                this.on("complete", function (file) {
                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0 ) {
                        setTimeout(function () {
                            location.reload();
                        }, 1000);

                    }
                })
            }
        }
    </script>
    <script src="{% static "js/highlight.pack.js" %}"></script>
    <script src="{% static "js/trash-modal.js" %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}