{% load static %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Trash</h4>
</div>
<div class="modal-body">
    {% include 'messages.html' %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>File name</th>
                <th>Delete</th>
                <th>Return</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ file.name }}</td>
                    <td><a href="#" data-url="{% url 'deletefile' file.id %}" class="btn btn-danger btn-sm delete-file">
                        <i class="fa fa-trash fa-lg"></i>
                    </a></td>
                    <td><a href="#" data-url="{% url 'returnfile' file.id %}" class="btn btn-primary btn-sm return-file">
                        <i class="fa fa-backward fa-lg"></i>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{% static "js/trash-modal.js" %}"></script>