{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="fa fa-{% if message.tags == 'success' %}check{% elif message.tags == 'info' %}exclamation-circle{% elif message.tags == 'warning' %}exclamation-triangle{% endif %}" aria-hidden="true"></span>
            <span class="sr-only">{{ message.tags }}</span>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}